@import "/node_modules/pdfequips-navbar/scss/navbar";

%debug {
  outline: 1px solid;
}

@import "./scss/minxins";
@import "./scss/placeholders";

svg {
  display: initial !important;
}

$pdf-color: #fc271c;
// only for image tools
$color-map: (
  "jpg-to-pdf": #f1c40f,
  "pdf-to-jpg": #f1c40f,
  "pdf-to-word": #1b5ebe,
  "svg-to-pdf": #ffb338,
  "png-to-pdf": #3498db,
  "gif-to-pdf": #636e72,
  "tiff-to-pdf": #e45453,
  "bmp-to-pdf": #573b26,
  "webp-to-pdf": #6fc21f,
  "heif-heic-to-pdf": #c376b8,
  "pdf-to-svg": #ffb338,
  "pdf-to-png": #3498db,
  "pdf-to-gif": #636e72,
  "pdf-to-tiff": #e45453,
  "pdf-to-bmp": #573b26,
  "pdf-to-webp": #6fc21f,
  "pdf-to-heif-heic": #c376b8,
  "pdf-to-image": #273c75,
  "image-to-pdf": #273c75,
);

body {
  @include ar-wrapper {
    text-align: right !important;
  }

  font-family: "Raleway", sans-serif;
  color: #2c3e50;
}

.tools-page {
  min-height: fit-content;
}

.h-5,
.icon {
  height: 1em;
}

.w-5,
.icon {
  width: 1em;
}

.object-fit-cover {
  object-fit: cover;
  object-position: center;
}

.object-fit-contain {
  object-fit: contain;
  object-position: center;
}

.img-fluid-custom {
  max-width: 100%;
  height: 100%;
  z-index: 0;
}

.bdi,
a.dropdown-item {
  unicode-bidi: isolate;
}

@media (min-width: 992px) {
  .drop-down-container {
    flex-wrap: nowrap !important;
  }
}

/* tools page */

.tools {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 69vh;
}

.dropdown-item {
  &.active,
  &:active {
    background-color: initial !important;
    color: #212529 !important;
  }
}

.react-tooltip {
  z-index: 100;
}

// error element styles
.error-element {
  @include extend("alert alert-danger text-center mt-3");
  .hide-on-rtl {
    [dir="rtl"] &,
    [lang="ar"] & {
      display: none !important;
    }
  }

  .hide-on-rtl {
    [dir="ltr"] &,
    :not([lang="ar"]) & {
      display: none !important;
    }
  }
}

@import "./scss/toolspage";
@import "./scss/editpage";
@import "./scss/display-file";

@import "./scss/features";

.how-to {
  @include extend("row align-items-center py-3");
  .image {
    @include extend("col-12 col-md-6 text-center");
    img {
      user-select: none;
      -webkit-user-drag: none;
      height: auto;
      max-width: 100%;
    }
  }

  .how-to-steps {
    @include extend("col");
    @include xs {
      text-align: center;
    }

    ol {
      list-style: none;
    }
  }
}

@import "./scss/loading";
@import "./scss/misk";

@import "pdfequips-footer/scss/footer";
.green-slider .range-slider__thumb {
  background: #28a745 !important;
}
.green-slider .range-slider__range {
  background: #28a745 !important;
}
.nav-tabs .nav-link.active {
  color: #28a745;
  border-color: #dee2e6 #dee2e6 #fff;
  border-bottom-color: #fff;
}
.nav-tabs .nav-link:hover {
  border-color: #e9ecef #e9ecef #dee2e6;
}
.nav-tabs .nav-link.active:hover {
  border-color: #dee2e6 #dee2e6 #fff;
}

.green-slider .range-slider__thumb[data-lower][data-disabled] {
  display: none;
}
.green-slider .range-slider__thumb[data-lower] {
  pointer-events: none;
  opacity: 1;
}
.cta-btn {
  @include extend("btn btn-primary btn-sm");
  font-weight: 500;
}

.center-item {
  @include extend("row justify-content-center");
}

a.no-underline {
  @include extend("text-decoration-none");
}

.spinner-grow {
  @include extend("spinner-grow");
}
